{% block content %}
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}! <a href="{% url 'logout' %}">logout</a>
        <br>
        <form method="post">{% csrf_token %}
            <p><a href={% url 'restaurant:restaurant_menu_create' %}> Create Restaurant Menu if you want </a></p>
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}
