<p><a href={% url 'restaurant:restaurant_create' %}>Create A Restaurant</a></p>
<form method='GET'>
    <input type='text' name='q' value='{{ request.GET.q }}'>
    <input class="button" type='submit' value="Search Restaurant">
</form>
{% if restaurant_list %}
    <ul>
        {% for restaurant in restaurant_list %}
            <a href={% url 'restaurant:restaurant_update' restaurant.id %}>
                <li>
                    {{ restaurant.name }}
                    <p>Category : {{ restaurant.category }}</p>
                    <p>Price range : {{ restaurant.price_range }}</p>
                </li>
            </a>
        {% endfor %}
    </ul>
{% else %}
    <p>There is no restaurant!</p>
{% endif %}